{% extends "base.html" %}

{% block content %}
<a href="/..">
    <button class="button_base button_control">Back</button>
</a>

<br><br>

<form action="" method="post">
    <input type="text" style="width:50%; padding: 5px 15px;" placeholder="Enter DTC" name="dtc-input" value="{{dtc_input}}">
    <input class="button_base button_input_submit" type="submit" name="submit_button" value="Convert To Hex">
</form>

<form action="" method="post">
    <input type="text" style="width:50%; padding: 5px 15px;" placeholder="Enter Hex Number" name="hex-input" value="{{ hex_input }}">
    <input class="button_base button_input_submit" type="submit" name="submit_button" value="Convert To DTC">
</form>

<br><br><br>

{% endblock %}

