
{% extends "base.html" %}

{% block content %}
<a href="/Ford">
    <button class="button_base">Ford</button>
</a>

<a href="/GM">
    <button class="button_base">GM</button>
</a>

<a href="/Honda">
    <button class="button_base">Honda</button>
</a>

<a href="/Mazda">
    <button class="button_base">Mazda</button>
</a>

<br>
<br>
<br>

<a href="/util/Create OBDII Sim">
    <button class="button_base button_util">Create OBDII Sim</button>
</a>

<a href="/util/DTC Convert">
    <button class="button_base button_util">DTC Convert</button>
</a>


{% endblock %}